@import "__variable";
@import "__default";
@mixin radius($value){
    border-radius: $value;
}
@mixin shadow($X, $Y, $blur){
    -webkit-box-shadow: $X  $Y $blur #0000001c;
    box-shadow: $X  $Y $blur #0000001c;
}
%transition{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

}
%button{
    font-size: 18px;
    font-weight: 500;
    padding: 8px 25px;
    letter-spacing: 1px;
    @include radius(30px);
    @extend %transition;
}

header{
    background-color: $bg_color;
    .navbar-brand{
        img{
            max-width: 180px;
        }
    }
    .navbar{

        .navbar-nav{
            
            .nav-item{

                .nav-link{
                    color: $primary_color;
                    @extend %button;

                    &:hover{
                        color: #fff;
                        background-color: $secondery_color;
                        @extend %transition;
                    }
                }
                &:last-child{
                    
                    .nav-link{
                        color: #fff;
                        background-color: $secondery_color;
                    }
                }
            }

        }
    }

    h4{
        color: red;
        font-size: 20px;
    }
    h1{
        font-size: 60px;
        color: #000;
        font-weight: 700;
        line-height: 1.1;
    }
    span{
        color: $secondery_color;
    }
    p{
        color: $primary_color;
    }
}

a.btn-custom{
    background-color: $secondery_color;
    color: #fff;
    @extend %button;
    border: 2px solid $secondery_color;

    &:hover{
        background-color: transparent;
        color: $secondery_color;
    }
}


.books-section{
    padding: 40px 0;
    .book{
        background-color: $bg_color;
        text-align: center;
        padding: 40px 0;
        @include radius(10px);
        @extend %transition;

        &:hover{
            background-color: #fff;
            @include shadow(0, 20px, 40px)
        }
        img{
            height: 90px;
        }
        h3{
            margin: 10px 0 0;
            font-size: 26px;
            font-weight: 500;
        }
        p{
            
        }
    }
}

.heading{
    text-align: center;
    h1{
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 40px;
    }
}
.courses-section{
    padding: 40px 0;
    .course{
        @include radius(10px);
        @include shadow(0, 20px, 40px);
        border: 0;
        .card-body{
            img{ 
                @include radius(10px)
            }
            .card-title{
                font-size: 26px;
                margin: 10px 0;
            }
            .card-text{ 
            }
            a{}
            .nav{
                margin: 20px 0 0;
                align-items: center;
                
                li{
                    img{
                        width: 20px;
                    }
                    span{
                        font-size: 14px;
                        font-weight: 600;
                    
                    }
                }
            }
        }
    }
}

.testimonial{
    padding: 40px 0;
    img{

    }
    p{

    }
}

footer{
    background-color: #282531;
    color: #fff;
    padding: 50px 0 0;

    h3{
        font-weight: 700;
        font-size: 22px;
    }
    P{
        color: #fff;
        opacity: 1;
    }
    ul{
        li{
            a{
                display: block;
                padding: 4px 0;
                color: #ffffff;
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                @extend %transition;

                &:hover{
                    color: #fff;
                    opacity: .8;
                    text-decoration: none;
                }
            }
        }
    }
    .copyright{
        padding: 30px 0;

        P{
            font-size: 15px;
            margin-bottom: 0;
            a{
                color: $secondery_color;
                text-decoration: none;
            }
        }
    }
}